<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home"><app-bi icon="layout-text-sidebar-reverse" [size]="30" class="me-1"></app-bi> Note Clicks</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item d-none">
            <a class="nav-link">Link</a>
          </li>
          <li *ngIf="auth.user | async as user ; else signin" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" >
              {{user.displayName}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/timeline">Timeline</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="auth.signOut();">Sign Out</a></li>
            </ul>
          </li>
          <ng-template #signin>
            <li class="nav-item">
              <a class="nav-link" (click)="auth.signIn();">Sign In</a>
            </li>
          </ng-template>
          <li class="nav-item d-none">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex d-none">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>