<!-- <div class="modal fade show" id="cameraModal" tabindex="-1" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="padding: .5rem;">Take Picture</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="close()"></button>
        </div>
        <div class="modal-body p-0">
            <video #video id="video" style="width: 100%; height: auto;" ></video>
        </div>
        <div class="modal-footer p-1">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="capture()">Capture</button>
          <button type="button" class="btn btn-primary" (click)="switchCamera()">Switch Camera</button>
        </div>
      </div>
    </div>
</div>
<div class="modal-backdrop fade show"></div> -->

  <div class="border">
    <video #video id="video" class="w-100"></video>
    <div *ngIf="showControl" class="text-center w-100 position-relative" style="margin-top: -84px; background: rgba(0, 0, 0, .2);">
      <button type="button" class="btn text-light" (click)="close()"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
      </svg></button>
        <button type="button" class="btn mx-2 text-light" (click)="capture()"><svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-record-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        </svg></button>
        <button type="button" class="btn text-light" (click)="switchCamera()"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
            <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
          </svg></button>
    </div>
  </div>

