<app-navbar></app-navbar>
<app-fab></app-fab>

<div id="notes" class="container" appScrollable (scrollPosition)="scrollHandler($event)">
    <div class="row">
        <div *ngFor="let note of notes" class="col-4 p-0">
            <a routerLink="/note/{{note.id}}"><img src="{{note.photo}}" class="w-100" style="padding: 1px;" /><div class="text-secondary text-center caption">{{note.created_at | date:'dd-MM-yyyy hh:mm:ss'}}</div></a>
        </div>
    </div>
</div>

<nav *ngIf="false" class="p-2">
    <ul class="pagination justify-content-center">
      <li class="page-item" [class]="{'disabled':!showPrevBtn}">
        <button class="page-link" (click)="prev()">Previous</button>
      </li>
      <li class="page-item" [class]="{'disabled':!showNextBtn}">
        <button class="page-link" (click)="next()">Next</button>
      </li>
    </ul>
</nav>