<app-navbar></app-navbar>
<app-fab></app-fab>
<div class="container">
<div class="row">
<div *ngFor="let note of notes" class="col-4 p-0">
    <a routerLink="/note/{{note.id}}"><img src="{{note.photo}}" class="w-100" style="padding: 1px;"/></a>
</div>
</div>
</div>
<button *ngIf="showPrevBtn" class="btn btn-primary" (click)="prev()">Prev</button>
<button *ngIf="showNextBtn" class="btn btn-primary" (click)="next()">Next</button>

<a *ngIf="false" routerLink="/quick" class="quick btn rounded-circle btn-danger text-light"><app-bi icon="lightning-charge-fill" [size]="48"></app-bi></a>