<app-navbar></app-navbar>
<app-fab></app-fab>
<div *ngFor="let note of notes">
    <a class="d-block border rounded overflow-hidden mb-1" routerLink="/note/{{note.id}}"><img src="{{note.photo}}" class="w-25 me-1"/> {{note.description}} [{{note.created_at | date:'dd-MM-yy hh:mm:ss a' }}]</a>
</div>
<button *ngIf="showPrevBtn" class="btn btn-primary" (click)="prev()">Prev</button>
<button *ngIf="showNextBtn" class="btn btn-primary" (click)="next()">Next</button>

<a routerLink="/quick" class="quick btn rounded-circle btn-danger text-light"><app-bi icon="lightning-charge-fill" [size]="48"></app-bi></a>