a{
    text-decoration: none !important;
}
#notes{
    max-height: calc(100vh - 60px);
    overflow-y: scroll;
}
.caption{
    font-size: smaller;
    background: rgba(0,0,0,0.5);
    color: white !important;
    margin-top: -20px;
    z-index: 2;
    position: relative;
}
img{
    z-index: 1;
}