<img src="assets/bsi/camera.svg" (load)="drawPlaceholder($event)" class="d-none" />
<div [class]="{'d-none':isCameraOpen}">
    <canvas #canvas id="canvas" class="w-100 border" (click)="openCamera()"></canvas>
    <div class="text-center d-none">
        <button type="button" class="btn me-2" (click)="openCamera()">Retake <img style="width: 48px; height: 48px;"
                src="assets/bsi/arrow-repeat.svg" /></button>
    </div>
</div>
<app-camera *ngIf="true || isCameraOpen" [class]="{'d-none':!isCameraOpen}" [width]="width" [height]="height"
    (onClose)="drawCaptured($event)"></app-camera>

<div class="mt-2">
    <input class="form-control" type="text" placeholder="Title"/>
    <textarea class="form-control mt-1" cols="30" rows="5" placeholder="Description"></textarea>
    <select class="form-control mt-1">
        <option value="">Select Folder</option>
    </select>
    <button class="btn btn-success mt-1" (click)="saveNote()">Save</button>
</div>